html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}

/* order confirmation */
.order{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin: 0;
    min-height: 100vh;
    background-color: white;
}

.orderconfirmation{
    border-radius: 10px;
    padding: 4rem;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.thankyou_line{
    margin-bottom: 1em;
    font-size: 2em;
}

.confirmation-buttons{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

/* order confirmation buttons */
.button_grey{
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border: none;
    text-decoration: none;
    margin: 4px 2px;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 5px;
}
.button_green{
    display: inline-block;
    background-color: grey;
    color: white;
    text-align: center;
    border: none;
    text-decoration: none;
    margin: 4px 2px;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 5px;
}

/* check out page delivery form */
.checkout{
    margin: 20px;
    font-family: sans-serif;
}

label{
    display: block;
    margin-bottom: 5px;
}

.delivery-form{
    margin-bottom: 16px;
    display: block;
}
.billingaddress{
    background-color: grey;
    align-items:left;
}