
@import url('https://fonts.googleapis.com/css2?family=Federo&family=Radley:ital@0;1&display=swap');


html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}

/* Order Confirmation Page*/
.order{
    margin: 0;
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderconfirmation{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 55px;
    text-align: center;
    background-color: white;
    
}

.thankyou_line{
    margin-bottom: 20px;
    font-size: 40px;
}

/* order confirmation buttons */
.orderconfirmation-buttons{
    margin-top: 30px;
}

.button_grey{
    display: inline-block;
    background-color:#D9D9D9;
    color: black;
    text-align: center;
    border: 1px solid;
    text-decoration: none;
    margin: 4px 2px;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 15px;
    box-sizing: border-box;
}
.button_green{
    display: inline-block;
    background-color: #3EB489;
    color: white;
    text-align: center;
    border: none;
    text-decoration: none;
    margin: 4px 2px;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
}

/* Checkout page */
.checkout{
    padding-top: 30px;
    margin-top: 30px;
    margin-left: 30px;
}

/*Delivery Form on Checkout page*/
h2{
    margin-bottom: 35px;
}

.checkoutpage{
    margin-left: 100px;
    padding: 20px;
    border-radius: 10px;
    width: 450px;
    background-color: white;
}

.delivery-form{
    gap: 10px;
    margin-bottom: 20px;
    display: flex;
}
.delivery-form input[type="text"]{
    flex: 1;
    border: 1px solid;
    border-radius: 2px;
    padding: 10px;
}

.delivery-form input[type="checkbox"]{
    margin-right: 5px;
}

/* progress indicator on Checkout Page */
.progress-indicator{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.connecting-lines{
    position:absolute;
    background-color: #D9D9D9;
    height: 2px;
    width: 100px;
    top: 35%;
}

.line1{
    width: 200px;
    margin-left: 35px;
    left: calc(50% - 10px); /*to align connecting lines with the circle*/
    transform: translateY(-50%); /*to position the line in the center with the circle*/
}

.line2{
    margin-left: 30px;
    left: calc(50% + 10px); /*to align connecting lines with the circle*/
    transform: translateY(-50%); /*to position the line in the center with the circle*/
}

.active{
    margin-top: 20px;
    margin-left: 150px;
    display: inline-block;
    position: relative;
    text-align: center;
    border-radius: 50%;
}

.inactive{
    margin-top: 20px;
    margin-left: 100px;
    display: inline-block;
    position: relative;
    text-align: center;
}

.inactive::before{
    display: flex;
    background-color: grey;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    width: 100%;
}

.inactive:first-child::before{
    left: 70%;
    width: 50%;
}

.sphere{
    color: black;
    background-color: #D9D9D9;
    height: 50px ;
    width: 50px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 18px;
}

.activesphere{
    background-color: #3EB489;
    color: white;
    height: 50px ;
    width: 50px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 18px;
}

.sphere-text{
    margin-top: 10px;
}

/* checkout page buttons */
.button-grey{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#D9D9D9;
    color: black;
    text-align: center;
    border: 1px solid;
    text-decoration: none;
    margin: 4px 2px;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 15px;
    box-sizing: border-box;
}
.button-green{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3EB489;
    color: white;
    text-align: center;
    border: none;
    text-decoration: none;
    margin: 4px 2px;
    padding: 15px 37.5px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
}
/* order summary on checkout page */
.order-summary{
    margin-bottom: 30px;
}

.Subtotal{
    font-weight: bold;
    margin-bottom: 20px;
}

.cost-1{
    margin-left: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cost-3{
    margin-left: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.Subtotal, .cost-1{
    display: inline-block;
}

.Subtotal, .cost-3{
    display: inline-block;
}

.options{
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 10px;
    height: 30px;
    border-radius: 15px;
    border: 0.5px solid;
    margin-bottom: 20px;
}

.discount{
    margin-bottom: 20px;
}

.promo-code{
    text-align: center;
    padding-left: 25px;
    padding-right: 20px;
    margin-left: 7px;
    height: 30px;
    border-radius: 15px;
    border: 0.5px solid;
}

.Total{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cost-2{
    margin-left: 70px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cost-4{
    margin-left: 70px;
    font-weight: bold;
    margin-bottom: 20px;
}


.Total, .cost-2{
    display: inline-block;
}

.Total, .cost-4{
    display: inline-block;
}

hr{
    width: 22%;
}

.checkoutpage,.checkout-summary{  /*to align delivery details and order summary horizonally next to each other*/
    float: left;
    width: 60%;
}


/* Shopping Cart Page*/

.shopping{
    display: flex;       /*to align shopping cart table and order summary horizontally next to each other*/
    justify-content: space-around;
    justify-items: flex-end;
    
}

.shopping-summary{
    margin-left: 80px;
}

.line-between hr{
    width: 93%
}

.shopping-page{
    padding-top: 30px ;
    margin-left: 30px;
    margin-bottom: 30px;
}

/* Product table on shopping cart page */
.shopping-list{
    margin-left: 30px;
    margin-bottom: 50px;
    border-color: black;
    border-radius: 15px;
    justify-items: left;
    width: 100%;
    border-collapse: collapse;
}

.shopping-list th{
    border-radius: 15px;
    border: 1.5px solid;
    text-align: center;
    padding: 12px;
}

.shopping-list td{
    border-radius: 15px;
    border: 1.5px solid;
    text-align: center;
    padding: 12px;
}

.shopping-list img{
    align-self: center;
    float: center;
    margin-right: 20px;
}
/* remove button on product table in shopping cart page*/
.red-button{
    text-align: center;
    border: none;
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    background-color: red;
    cursor: pointer;
}

/* reduce quantity button on product table in shopping cart page*/
.minus-button{
    text-align: center;
    border: none;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    color: black;
    background-color: #D9D9D9; 
    cursor: pointer;
}

/* increase quantity button on product table in shopping cart page*/
.plus-button{
    text-align: center;
    border: none;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;
    color: black;
    background-color: #D9D9D9; 
    cursor: pointer;
}
/* Shopping cart page buttons */
.grey-button{
    justify-content: center;
    display: inline-block;
    background-color: #D9D9D9;
    color: black;
    text-align: center;
    border: 1px solid;
    text-decoration: none;
    margin: 4px 2px;
    padding: 15px 32px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
}
.green-button{
    justify-content: center;
    display: inline-block;
    background-color: #3EB489;
    color: white;
    text-align: center;
    border: none;
    text-decoration: none;
    margin: 4px 2px;
    padding: 15px 61px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
}

/*Menu Page*/
/*search bar on Menu Page*/
.menu-heading{
    padding-left: 30px;
    padding-top: 40px;

}
.search-option{
    padding-top: 10px;
    padding-left: 30px;
    margin-top: 5px;
    margin: 2px;
    width: 800px;
    height: 30px;
    background-color: white;
    display: flex;
    border-radius: 10px solid;
}
.search-option input[type="text"]{
    margin-top: 5px;
    margin: 2px;
    color: black;
    width: 100%;
    float: left;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}


/*filter and sort dropdown options on Menu Page*/
.drop-down{
    margin-top: 5px;
    margin: 2px;
    display: flex;
}
.option-filter{
    padding-right: 20px;
    margin-top: 10px;
    margin-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.option-sort{
    padding-right: 20px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.filter-option{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    display: inline-block;
    position: relative;
    margin: 2px;
}
.sort-option{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    display: inline-block;
    position: relative;
    margin: 2px;
}

/*meal options on Menu Page*/
.meal-options{
    margin: 30px;
    margin-top: 5px;
}
.meal-options td{
    background-color:#D9D9D9;
    margin-top: 10px;
    float: left;
    border-radius: 5px;
    border: 1px solid;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

/*product items on Menu Page*/
.menu-products{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 60%;
    padding: 5px;
}

.h4{
    margin-bottom: 7px;
}

.item1{
    width: 40%;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid;
    text-align: center;
}

.item1 img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.item1-info{
    text-align: center;
}


.item2{
    width: 40%;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid;
    text-align: center;
}

.item2 img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.item2-info{
    text-align: center;
}

.item3{
    width: 40%;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid;
    text-align: center;
}
.item3 img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.item3-info{
    text-align: center;
}

.item4{
    width: 40%;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid;
    text-align: center;
}
.item4 img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.item4-info{
    text-align: center;
}

.item5{
    width: 40%;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid;
    text-align: center;
}
.item5 img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.item5-info{
    text-align: center;
}

.item6{
    width: 40%;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid;
    text-align: center;
}
.item6 img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.item6-info{
    text-align: center;
}

.item7{
    width: 40%;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid;
    text-align: center;
}
.item7 img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.item7-info{
    text-align: center;
}

.item8{
    width: 40%;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid;
    text-align: center;
}
.item8 img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.item8-info{
    text-align: center;
}

.item9{
    float: center;
    width: 40%;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid;
    text-align: center;
}
.item9 img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.item9-info{
    text-align: center;
}

.item10{
    float: center;
    width: 40%;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid;
    text-align: center;
}
.item10 img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.item10-info{
    text-align: center;
}

/* Add to cart button on in menu page*/
.Add-button{
    justify-content: center;
    display: inline-block;
    background-color: #3EB489;
    color: white;
    text-align: center;
    border: none;
    text-decoration: none;
    margin: 4px 2px;
    padding: 15px 61px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
}

/* reduce quantity button on in menu page*/
.menu-minus-button{
    border-radius: 50%;
    margin-left: 110px;
    width: 20px;
    height: 20px;
    text-align: center;
    border: none;
    margin-right: 10px;
    color: black;
    background-color: #D9D9D9; 
    cursor: pointer;
}

/* increase quantity button in menu page*/
.menu-plus-button{
    text-align: center;
    border: none;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;
    color: black;
    background-color: #D9D9D9; 
    cursor: pointer;
}

/* page button in menu page*/
.page-number{
    display: flex;
    position: absolute;
    margin-left: 500px;
}
.page-button{
    background-color: #D9D9D9;
    border-radius: 50%;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
}
.page-button:nth-child(1){
    margin-right: 20px;
}
.page-button:nth-child(2){
    margin-right: 20px;
}
.page-button:nth-child(3){
    margin-right: 20px;
}
.page-button:nth-child(4){
    margin-right: 20px;
}