@import url('https://fonts.googleapis.com/css2?family=Federo&family=Radley:ital@0;1&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   font-family: "Federo";
   list-style: none;
   text-decoration: none;
}


header{
   position: fixed;
   width: 100%;
   top: 0;
   right: 0;
   z-index: 1000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px 5%;
}


.logo img{
   max-width: 120px;
   height: auto;
}

.navmenu{
   display: flex;
}

.navmenu a{
   color: black;
   font-size: 16px;
   text-transform: capitalize;
   padding: 10px 20px;
   font-weight: 400;
   transition: all .42s ease;
}

.navmenu a:hover{
   color: #3EB489;
}

.nav-icon{
   display: flex;
   align-items: center;
}

.nav-icon i{
   margin-right: 20px;
   color: black;
   font-size: 25px;
   font-weight: 400;
   transition: all .42s ease;

}

.nav-icon i:hover{
   transform: scale(1.1);
   color: #3EB489;
}

#menu-icon{
   font-size: 35px;
   color: black;
   z-index: 10001;
   cursor: pointer;
   display: none;
}


section{
   padding: 5% 5%;
}

.main-home{
   margin-top: 5rem;
   width: 100%;
   height: 90vh;
   background-image: url(landing-page.png);
   background-position: center;
   background-size: cover;
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   align-items: ;

}

.main-text h1{
   color: black;
   font-size: 52px;
   text-transform: capitalize;
   line-height: 1.1;
   font-weight: 300;
   margin: 15px 0 15px;
}

.main-text p{
   color: black;
   font-size: 20px;
   font-style: italic;
   margin-bottom: 40px;
}

.main-btn{
   display: inline-block;
   background-color: #3EB489;
   border-radius: 40px;
   color: black;
   font-size: 16px;
   font-weight: 500;
   text-transform: capitalize;
   margin-top: 42px;
   padding: 18px 36px;
   transition: all .42s ease;
}

.main-btn:hover{
   background-color: black;
   color: white;
}

.main-btn i {
   vertical-align: middle;
}


header.sticky{
   background: white;
   padding: 20px 10%;
   box-shadow: 0 0 10 (0 0 0 / 10%);
}


@media(max-width: 890px){
   header{
      padding: 20px 3%;
      transition: .4s; 
   }
}

@media (max-width: 63px){
   .main-text h1{
      font-size: 50px;
      transition: .4s;
   }

   .main-text p {
      font-size: 18px;
      transition: .4s;
   }

   .main-btn{
      padding: 10px 20px;
      transition: .4s;
   }

}

@media(max-width: 750px){
   .navmenu{
      position: absolute;
      top: 100%;
      right: -100%;
      width: 300px;
      height: 130vh;
      background: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 120px 30px;
      transition: all .42s;

   }

   .navmenu a{
      display: block;
      margin: 18px 0;

   }

   .navmenu.open{
      right: 0;
   }

   #menu-icon{
      display: block;
   }
}
