@import url('https://fonts.googleapis.com/css2?family=Federo&family=Radley:ital@0;1&display=swap');

body {
    font-family: "Federo";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shopping-cart {
    display: flex;
    width: 90%;
    max-width: 600px;
    margin: 20px;
    padding: 10px;
}

h1 {
    text-align: left;
    margin: 80px 20px 30px;
}

.cart-items {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    justify-content: center;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item .box{
    background-color: #3EB489;
    padding: 0.2rem;
    border-radius: 10px;
}

.cart-item img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    
}

.item-details {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-details p {
    margin: 0;
    flex: 1;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity button {
    background-color: #ddd;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.quantity input {
    width: 30px;
    text-align: center;
    margin: 0 5px;
}

.price {
    width: 70px;
    text-align: right;
}

.order-summary {
    margin-top: 20px 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
}

.order-summary h2 {
    margin: 0 0 10px 0;
}

.order-summary p {
    margin: 10px 0;
}

.checkout-btn, .back-btn {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
}

.checkout-btn {
    background-color: #28a745;
    color: white;
}

.back-btn {
    background-color: #ffc107;
    color: white;
}

@media (max-width: 680px) {
    .shopping-cart{
        flex-direction: column;
        align-items: center;
    }
    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .price {
        text-align: left;
    }

    .item-details {
        flex-direction: column;
        align-items: flex-start;
    }
}